body {
    background-color: black;
    color: white;
    text-align: center;
}

.scoresection {
    margin-top: 300px;
}

.highscoresection {
    text-decoration: none;
    margin-top: -340px;
    margin-left: 30px;
    color: white;
}