body {
    background-color: black;
    color: white;
    text-align: center;
}

.question1, .question2, .question3, .question4, .question5 {
    text-align: center;
    margin-top: 300px;
}   

.question2, .question3, .question4, .question5 {
    display: none;
}

.show {
    display: block;
}
